@import url(http://fonts.googleapis.com/css?family=Lato);

html, body {
    background-color: #eee;
}
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
    height: 100%;

    overflow: hidden;
}
.container > footer p {
    text-align: center; /* center align it with the container */
}

.container {
    width: 70%;
}


/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);


}

/* Page header tweaks */
.page-header {
	position: fixed;
	width: 100%;
	top: 20px;

    background-color: #f5f5f5;

    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
            box-shadow: 0 0 2px 2px rgba(0,0,0,.15);

    z-index: 1;
}

.page-header h4,
.page-header #prog {
    padding: 15px 10px 5px 10px;
}

#chat-container {
	position: absolute;
	bottom: 60px;
	left: 0px;
	right: 260px;
	top: 110px;

	overflow-y: scroll;
}


#main {
    position: relative;
    overflow: hidden;
}

#onError, #onChat {
    display: none;
    overflow: auto;
}

#members {
	overflow-y: auto;
}

#members-col {
	position: fixed;
	width: 260px;
	right: 0;
	top: 110px;
	bottom: 0;


	background-color: #eee;

}


#chatarea {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 260px;

    height: 50px;

    background: #ccc;

    padding: 5px;
}

#chatarea textarea {
	position: absolute;
	width: 89.5%;
}

#chatarea button {
	position: absolute;
	right: 5px;
	width: 8%;
	height: 48px;


}

#chat-list .message-line {
    padding: 0;
    margin: 0;

    position: relative;

    border-color: inherit;
    border-collapse: inherit;

}

#chat-list .message-line table td,
#chat-list .message-line table th {
    border-top: inherit;
}

#chat-list .message-line .usr {
    position: absolute;
    left: -16px;
    top: 0;

    width: 150px;
    overflow: hidden;

    display: inline-block;
    vertical-align: top;
    text-align: right;

    font-family: "Lucida Grande", arial ,sans-serif;
    font-weight: bold;
    color: #444;
    font-size: .9em;

    border-right: 1px solid #fdfdfd;

    background: #f3f3f3;
}

#chat-list .message-line .msg {
    position: absolute;
    left: 151px;
    right: 0;
    top: 0;

    padding-right: 55px;

    display: inline-block;
    margin: 0;
    word-break: break-word;

    border-left: 1px solid #ddd;
    background: #fff;

}

#chat-list .message-line .time {
    position: relative;
    float: right;

    background: transparent;

    color: #999;
    font-size: .75em;
}

#chat-list .message-line.me .usr {
    border-right: 1px solid #EFEBF5;
    border-top: 1px solid #D8D3DE;
    background: #E8E1F0;
}

#chat-list .message-line.me .msg {
    border-left: 1px solid #D8D3DE;
    background: #F4F0FA;
}


/* Message stuffs

.message-line {
    padding: 0;
    margin: 0;

    height: auto;

    border-top: 1px solid #bbb;

    position: relative;
}

/* Author of message
.message-line span {
    position: absolute;
    left: 0;
    top: 0;

    width: 150px;
    overflow: hidden;

    text-align: right;

    display: inline-block;
    vertical-align: top;

    font-family: "Lato";
    font-weight: bold;

    border-right: 1px solid #fdfdfd;
    border-top: 1px solid #fdfdfd;

    background: #f3f3f3;

}

.message-line p {
    position: absolute;
    left: 151px;
    right: 0;
    top: 0;

	display: inline-block;
    margin: 0;
    word-break: break-all;

    border-left: 1px solid #bbb;
    background: #fff;

    padding: 10px;

}

.message-line small {
	float: right;
	padding-right: 8px;
}


.message-line.me {
    border-top: 1px solid #D8D3DE;
}

.message-line.me span {
    border-right: 1px solid #EFEBF5;
    border-top: 1px solid #EFEBF5;

    background: #E8E1F0;


}

.message-line.me p {
    border-left: 1px solid #D8D3DE;

    background: #F4F0FA;
}


*/


/* Tweak navbar brand link to be pimp.
-------------------------------------------------- */

body > .navbar {
  font-size: 13px;
}

body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #ccc;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(100,255,100,.1), 0 0 30px rgba(100,255,100,.7);
}

/* Signin page goodness */

.fieldset-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.fieldset-signin .fieldset-signin-heading,
.fieldset-signin .checkbox {
        margin-bottom: 10px;
}

.fieldset-signin input[type="text"],
.fieldset-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 5px;
        padding: 7px 9px;
}