@(id: Long)

@main(null) {
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/chat.css")">
    
    <div class="page-header">
        <h4>This is a test</h4>
	    <div class="progress progress-striped active" id="prog">
		   <div class="bar" style="width: 100%;"></div>
		</div>
    </div>
    
    <div id="onError" class="alert alert-error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="chat-container" style="display:none">
		<div id="chat-list"></div>
	</div>
	
	<div id="chatarea" style="display:none">
		<textarea id="txt-chat"></textarea>
		 <button class="btn btn-large btn-success" type="button" id="btn-chat">Send</button>
	</div>
    
	    <table id="members-col" class="table table-striped">
	         <tbody id="members">
	         </tbody>
		</table>
    
    <script type="text/javascript" charset="utf-8">
    
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	        var chatSocket = new WS("@routes.Chat.chat(String.valueOf(id)).webSocketURL(request)")
            
            
            
            var sendMessage = function() {
                chatSocket.send(JSON.stringify(
                    {text: $("#txt-chat").val()}
                ))
                $("#txt-chat").val('')
                $("#chat-container").animate( { scrollTop: $("#chat-container").height() }, "slow" );
                
            }
            
            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
                
                $("#prog").hide();
                
                // Handle errors 
                if(data.error) {
                	
                	//Close socket 
                    chatSocket.close()
                    
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#chat-container").show();
                    $("#members-col").show();
                    $("#chatarea").show();
                    
                }
                
                if( data.kind == "membersUpdate") {
                    // Update the members list 
                    $("#members").html('') 
                    $(data.members).each(function() {
                        $("#members").append('<tr><td>' + this + '</td></tr>')
                    });
                    
                    return;
                }
                
                
                
                // Create the message element 
                /*var el = $(
	                		   '<table class="message table">' +
	                		   ' 	<tbody>'  +
	                		   '		<tr>' +
	                		   '			<td id="usr"></td>' +
	                		   '			<td id="msg"></td>' +
	                		   '			<td class="muted" id="time"></td>' +
	                		   '		</tr>' +
	                		   '	</tbody>'  +
	                		   '</table>'
                );*/
                
                var el = $('<div class="message-line"><span></span><p></p><small class="mute"></small></div>')
                

                
                $("span", el).text(data.user)
                $("p", el).text(data.message)
                $("small", el).text("12:00 AM");
                $(el).addClass(data.kind);
                
                if(data.user == '@User.findUserById(id).username') {
                	$(el).addClass('me')
                }
                
                if(data.kind == "join" || data.kind == "quit") {
                	$("span", el).hide();
                	$("p", el).css("padding-left", "60px");
                }
                
                $('#chat-list').append(el)
                

            }
            
            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                } 
            }
            
            $("#txt-chat").keypress(handleReturnKey) 
            $("#btn-chat").click(sendMessage);
            
            chatSocket.onmessage = receiveEvent
            
        })
    
    </script>
    
    
}